body {
    margin: 0;
    padding: 0;
}

.background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('images/pokemon_background.gif');
    background-size: cover;
    z-index: -1;
}

.content {
    width: 1100px;
    margin: 0 auto;
    padding: 0 25px 25px 25px;
    border: 3px solid black;
    background-color: white;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: black;
    text-align: center;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: top;
}

.center {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.image {
    display: block;
    width: 75%;
    margin: auto;
}

.text {
    flex: 1;
}

